@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: .5em 1em;
}

.interactive-wrapper {
    display: flex;
    flex-direction: column;
    
}

.canvas-wrapper {
    margin: auto;
}

.controls {
    display: flex;
    flex-direction: row;
}

h2, p {
    margin: .2em 0;
}

button {
    background-color: lightblue;
    width: 100px;
    height: 40px;
    margin: 0 1em 0 0;
    border: 1px solid black;
}
button:active {
    background-color: #56a5be;
}