@import "fonts";
@import "mq";
@import "palette";
@import "toggle";
@import "button";
// @import "enhancer";


h1, h2, h3 {
    @include fs-headline(6);
    font-weight: 700;
    @media(max-width: 600px) {
        @include fs-headline(4);
    }
}


body {
    @include f-bodyCopy;
}

// Numbers
span#clock {
    @include fs-titlepiece(1);
    font-size: 32px;
    line-height: 1;
}
.clock {
    color: #052962; 
}
#toggle-label {
    padding: .4em 0 0 .3em;
}

h3, h3 {
    margin: .2em 0;
}

small {
    font-size: 14px;
    color: $neutral-60;
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.interactive-atom {
    margin: 0;
    padding: .5em 1em;
}

.interactive-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.canvas-wrapper {
    margin: 0 0 auto 0;
}

.controls {
    display: flex;
    flex-direction: row;
}

