<div class="interactive-wrapper">
    
    <div class="canvas-wrapper">
        <!-- <h3 id="title">Boarding the tube on a normal day...</h3> -->
        <h3 id="title">Boarding the tube with social distancing...</h3>
        <div class="controls">
            <div id="run">
                <div class="button-outer"> 
                    <div class="content">
                        <div class="text">Restart </div>
                        <div class="icon">
                            <svg width="17" height="14" viewBox="0 0 17 14" fill="#AB0613" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1749 7.14998V6.44998L0.574998 0L0 0.449998V13.15L0.574998 13.55L16.1749 7.14998Z" fill="#AB0613"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="clock"><span id="clock">8:00</span>am</h2>
        
        <canvas id="normal"></canvas>
        
        <div id="footer"><small>Data: TFL. Based on average passenger and train numbers at Clapham North</small></div>

    </div>
    
</div>